<header>
    <h1>Student Number: N01579863</h1>
    <div class="navigators">
    <a href="/addproduct"><button type="submit">Insert Product</button></a>
    <a href="/data"><button type="submit">Go to All data</button></a>
    </div>
</header>