<header class="header">
    <h1>🎥 Movies Flix 🎥</h1>
    <h3>Student Number: N01579863</h3>
    <nav>
        <ul>
            <li><a href="/addmovie">Add Movie</a></li>
            <li><a href="/getmovies">Get Movies</a></li>
            <li><a href="/updatemovie">Update Movie</a></li>
            <li><a href="/deletemovie">Delete Movie</a></li>
        </ul>
    </nav>
</header>
