<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Student Number: N01579863</h1>
      </header>

      <main>
        <div class="content">
          {{{body}}}
        </div>
      </main>
      <footer>
        <p>kushpatel123.kp14@gmail.com</p>
      </footer>
    </div>
  </body>
</html>