<form id="deleteMovieForm">
    <label for="movieId">Movie ID:</label>
    <input type="text" id="movieId" name="movieId"><br><br>
    <input type="submit" onclick="deleteMovie(event)" value="Delete">
</form>

<script>
    function deleteMovie(event) {
        event.preventDefault();

        try {
            let movieId = document.getElementById("movieId").value;

            if(document.cookie.length ==0)
                {
                     alert('You are not logged in to perform this operation!');
                     window.location.href = '/login';
                }    
            const token = document.cookie.split('; ').find(cookie => cookie.startsWith('accessToken=')).split('=')[1];
            
            fetch('/api/movies/' + movieId, {
                method: "DELETE",
                headers: {
                    "Authorization": `Bearer ${token}`,
                    "Content-Type": "application/json"
                }
            })
                .then(response => {
                    if (response.ok) {
                        response.text().then(errorMessage => {
                            console.log(errorMessage);
                            alert(errorMessage);
                        }).catch(error => {
                            console.error('Error reading response text:', error);
                            alert('An error occurred. Please try again.');
                        });

                        window.location.href = '/';
                    }
                    else if (response.status === 401) {
                        
                        response.text().then(errorMessage => {
                            console.log(errorMessage);
                            alert(errorMessage);
                        }).catch(error => {
                            console.error('Error reading response text:', error);
                            alert('An error occurred. Please try again.');
                        });

                        window.location.href = '/login';
                    }
                    else {
                        response.text().then(errorMessage => {
                            console.log(errorMessage);
                            alert(errorMessage);
                        }).catch(error => {
                            console.error('Error reading response text:', error);
                            alert('An error occurred. Please try again.');
                        });
                    }
                })
                .catch(error => {
                    alert(error);
                });
        } catch (error) {
            console.error('Error deleting movie:', error);
        }
    }
</script>