<div class="card">
    <h1>Add Movie</h1>
    <p>This operation allows users to add a new movie to the database. 
        Users can fill out a form providing details such as the title, 
        genre, release date, etc., and submit the form to add the movie to the collection.</p>
</div>

<div class="card">
    <h1>Get Movies</h1>
    <p>The Get Movies operation enables users to retrieve a list of movies based on specific parameters. 
        Users can specify the page number, the number of movies per page, and optionally provide a title 
        to filter the results. Upon submission, the dashboard displays a paginated list of movies matching 
        the criteria.</p>
</div>

<div class="card">
    <h1>Update Movie</h1>
    <p>Users can update the details of an existing movie using the Update Movie operation. 
        By providing the movie ID and filling out a form with the updated information such as title, genre, etc., 
        users can submit the form to modify the corresponding movie entry in the database.</p>
</div>

<div class="card">
    <h1>Delete Movie</h1>
    <p>This operation allows users to remove a movie from the database. 
        By entering the ID of the movie they wish to delete and submitting the deletion form, 
        users can permanently remove the specified movie entry from the collection.</p>
</div>
