<h2>Enter the product Name to search the similar product Details.</h2>
<form action="/data/search/prdName" method="get" class="searchByNameForm">
    <input type="search" placeholder="Enter product Name" name="productName">
    <button type="submit" value="search">Search</button>
</form>
 