<h2>Enter the product Id to search the product Details.</h2>
<form action="/data/search/prdID" method="get" class="searchByIdForm">
    <input type="search" placeholder="Enter product ID" name="productID">
    <button type="submit" value="search">Search</button>
</form>